@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #d8d8d8;
  color: #1f2937;
}

.wavy-bottom {
  bottom: 0;
  left: 0;
  width: 200%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wavy-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.svg-background {
  background-image: url('/bg.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
